.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
editor-ui/src/**
editor-ui/node_modules/**
webview-ui/src/**
webview-ui/node_modules/**

# Don't ignore build folders
!editor-ui/build/**
!webview-ui/build/**